#div-logo > img {
  max-width: 128px;
  height: auto;
  width: 100%;
}

#div-logo {
  height: auto;
  padding: 5px 2px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
