<mat-sidenav-container id="sidenav-container" class="mat-elevation-z20">
  <mat-sidenav #drawer id="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-divider></mat-divider>
    <mat-nav-list id="sidenav-menu">
      <a mat-list-item routerLink="/">
        <i class="material-icons secundary">
          home
        </i>
        Início
      </a>
      <a mat-list-item routerLink="/produtos">
        <i class="material-icons">
          storefront
        </i>
        Produtos
      </a>
    </mat-nav-list>
    <mat-toolbar id="div-logo">
      <div>
        <img src="../../../../assets/cadusu.png" alt="">
      </div>
      <p>
        Desenvolvido com Angular
      </p>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="div-header">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-header></app-header>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    <!-- <app-footer></app-footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>
