<div class="main">
    <mat-card>
        <mat-card-title class="card-title">Cadastro de produto</mat-card-title>
        <form>
            <mat-form-field appearance="legacy" class="form-field">
                <mat-label class="label">Nome do produto</mat-label>
                <input matInput placeholder="ex: caneta bic" [(ngModel)]="product.pro_name" name="pro_name">
                <mat-icon matSuffix>create</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="legacy" class="form-field">
                <mat-label class="label">Preço do produto</mat-label>
                <input matInput placeholder="ex: 2,99 R$" #price (keyup)="setPrice(price.value)" name="pro_price">
                <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
        </form>
        <div class="form-buttons">
            <button class="button-primary" mat-raised-button (click)="createProduct()">
                Salvar
            </button>
            <button class="button-alert" mat-raised-button (click)="cancel()">
                Cancelar
            </button>
        </div>
    </mat-card>
</div>




<!-- <span matPrefix>R$&nbsp;</span> -->
<!-- <p [id]="propLegal">product-create works!</p>
<button (click)="fazerAlgo()">Fazer algo</button> -->