<div class="main">
    <mat-card>
        <mat-card-title class="card-title">Excluir produto</mat-card-title>
        <form>
            <mat-form-field appearance="legacy" class="form-field">
                <mat-label class="label">Nome do produto</mat-label>
                <input matInput placeholder="ex: caneta bic" [ngModel]="product.pro_name" name="pro_name" disabled>
                <mat-icon matSuffix>create</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="legacy" class="form-field">
                <mat-label class="label">Preço do produto</mat-label>
                <input matInput placeholder="ex: 2,99 R$" [ngModel]="product.pro_price" name="pro_price" disabled>
                <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
        </form>
        <div class="form-buttons">
            <button class="button-alert" mat-raised-button (click)="deleteProduct()">
                Excluir
            </button>
            <button class="button-primary" mat-raised-button (click)="cancel()">
                Cancelar
            </button>
        </div>
    </mat-card>
</div>